@use '../../styles/vars' as v;
@use '../../styles/mixins' as m;

.about {
  .article {
    margin-top: 30px;
  }

  h1 {
    color: v.$color-primary;
  }

  .directors {
    > div {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

@include m.breakpoint-md {
  .about {
    .article {
      margin-top: 0;
    }
  }
}

@include m.breakpoint-lg {
  .about {
    .directors {
      display: flex;
      justify-content: space-between;

      > div {
        margin: 0;
        width: 49%;
      }
    }
  }
}
