@use '../../styles/vars' as v;

.article {
  padding-bottom: 30px;

  h1 {
    color: v.$color-primary;
    margin-bottom: 16px;
  }

  div {
    color: v.$color-grey-80;

    > p + p {
      margin-top: 20px;
    }
  }
}
