@use "../../styles/vars" as v;

.hero {
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
  overflow: hidden;

  h1 {
    color: v.$color-secondary;
  }

  svg {
    position: absolute;
    z-index: -1;
  }
}
