@use "../../styles/vars";

.hero {
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-weight: bold;
  color: vars.$color-secondary;
  padding: 40px;
  position: relative;
  overflow: hidden;

  svg {
    position: absolute;
    z-index: -1;
  }
}
