@use "../../styles/vars" as v;
@use '../../styles/mixins' as m;

.hero {
  height: 350px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-left: 40px;
  position: relative;

  h1 {
    color: v.$color-secondary;
  }

  img {
    position: absolute;
    z-index: -1;
    height: 100%;
    right: -160px;
    top: 0;
  }
}

@include m.breakpoint-sm {
  .hero {
    height: 285px;
    align-items: center;
    padding: 0;

    img {
      right: -80px;
    }
  }
}
