@use 'vars';

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");

// a few global reset

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  line-height: 28px;
  color: vars.$color-grey-80;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

::placeholder {
  color: vars.$color-grey-40;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  outline: 0;
}

h1 {
  font-size: 46px;
  line-height: 48px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  font-size: 33px;
  line-height: 41px;
  font-weight: bold;
}

h4 {
  font-size: 28px;
  line-height: 35px;
  font-weight: bold;
}

h5 {
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}
