// colors

$color-primary: #2f6267;

$color-secondary: #a26638;
$color-secondary-dark: #703b0e;

$color-grey: #c4c4c4;
$color-grey-40: #a8a8a8;
$color-grey-60: #717171;
$color-grey-80: #393939;

$color-white: #ffffff;
$color-black: #393939;
