@use '../../styles/mixins' as m;

.container {
  > main {
    .layoutTwos {
      margin: 0 auto;
      display: flex;
      flex-direction: column-reverse;
      padding: 45px 24px 40px;

      .layoutLeft,
      .layoutRight {
        width: 100%;
      }
    }
  }
}

@include m.breakpoint-md {
  .container {
    > main {
      .layoutTwos {
        padding-left: 80px;
        padding-right: 80px;
        max-width: 1440px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 88px;

        .layoutLeft {
          width: 66.67%;
        }

        .layoutRight {
          width: 25%;
        }
      }
    }
  }
}
