@use '../../styles/vars' as v;

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: bold;
    color: v.$color-secondary;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    font-weight: bold;
    margin-top: 1em;
    line-height: 1.25em;
  }

  &.small {
    width: 272px;
  }

  &.medium {
    max-width: 366px;
  }

  &.large {
    max-width: 740px;
    flex-direction: row;

    div {
      text-align: left;
    }
  }
}
