@use '../../styles/vars' as v;
@use '../../styles/mixins' as m;

.card {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  img {
    margin-bottom: 8px;
  }

  h2 {
    color: v.$color-secondary;
  }

  &.small {
    width: 100%;
    min-width: 266px;
    height: 290px;
  }

  &.medium {
    max-width: 366px;
  }

  &.large {
    max-width: 740px;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    flex-direction: row;

    div {
      text-align: left;
    }
  }

  &.avatar {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: v.$color-grey-10;
    justify-content: flex-start;
    padding: 32px;

    img {
      margin-bottom: 20px;
    }

    p {
      margin-top: 8px;
    }
  }
}

@include m.breakpoint-sm {
  .card {
    &.small {
      max-width: 266px;
      min-width: 220px;
    }
  }
}
