@use '../../styles/vars' as v;
@use '../../styles/mixins' as m;

// homepage
.homepage {
  padding-bottom: 3rem;

  .content {
    margin-top: 3rem;

    h1 {
      color: v.$color-primary;
    }

    .missions {
      text-align: center;

      h1 {
        & + p {
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.25em;
        }
      }

      ul {
        li {
          margin-top: 2em;
          p {
            font-size: 1.125rem;
            font-weight: bold;
            margin-top: 1em;
          }
        }

        @include m.breakpoint-lg {
          display: flex;
          justify-content: space-between;

          li {
            width: 30%;
          }
        }
      }
    }

    .explore {
      margin-top: 3rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .cards {
        div + div {
          margin-top: 1rem;
        }
      }

      @include m.breakpoint-md {
        .cards {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          div + div {
            margin-top: 0;
          }
        }
      }
    }

    .right {
      display: none;
    }
  }

  @include m.breakpoint-lg {
    .content {
      display: flex;
      justify-content: space-between;

      .left {
        width: 66.67%;
      }

      .right {
        width: 25%;
        display: block;

        ul {
          li {
            font-size: 1.375rem;
            font-weight: bold;
            margin-top: 0.5em;

            a {
              &:hover {
                color: v.$color-secondary;
                border-bottom: 1px solid v.$color-secondary;
              }
            }
          }
        }
      }
    }
  }
}
