@use '../../styles/vars' as v;
@use '../../styles/mixins' as m;

// homepage
.homepage {
  padding-bottom: 88px;
  overflow: hidden;

  background-image: url("../../images/hero.png");
  background-size: 1585px 350px;
  background-position: 85% 0%;
  background-repeat: no-repeat;
  max-width: 100%;

  .hero {
    height: 350px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-left: 40px;
    position: relative;

    h1 {
      color: v.$color-secondary;
    }
  }

  .content {
    margin-top: 88px;

    h1 {
      color: v.$color-primary;
      margin-bottom: 24px;
    }

    .missions {
      text-align: center;

      ul {
        li {
          margin-top: 32px;

          p {
            font-size: 19px;
            line-height: 24px;
            margin-top: 28px;
            font-weight: bold;
          }
        }
      }
    }

    .explore {
      margin-top: 48px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .cards {
        div + div {
          margin-top: 16px;
        }
      }
    }

    .contact {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      button {
        margin-top: 24px;
      }
    }

    .right {
      display: none;
    }
  }
}

@include m.breakpoint-sm {
  .homepage {
    .hero {
      height: 285px;
      align-items: center;
      padding: 0;
    }
  }
}

@include m.breakpoint-md {
  .homepage {
    background-size: 1585px 285px;
    background-position: top center;

    .content {
      padding: 0 56px;
    }

    .explore {
      .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        div + div {
          margin-top: 0;
          margin-left: 16px;
        }
      }
    }
  }
}

@include m.breakpoint-lg {
  .homepage {
    .content {
      margin: 0 auto;
      margin-top: 88px;
      max-width: 1392px;
      display: flex;
      justify-content: space-between;

      .left {
        width: 66.67%;

        .missions {
          ul {
            display: flex;
            justify-content: space-between;
            li {
              width: 30%;
            }
          }
        }
      }

      .right {
        width: 25%;
        display: block;

        ul {
          li {
            font-size: 19px;
            line-height: 24px;
            margin-top: 16px;
            font-weight: bold;

            a {
              &:hover {
                color: v.$color-secondary;
                border-bottom: 1px solid v.$color-secondary;
              }
            }
          }
        }
      }
    }
  }
}
