@use '../../styles/vars';

.contact {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    color: vars.$color-primary;
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2.2rem;
  }
}
