@use "../../styles/vars" as v;
@use '../../styles/mixins' as m;

.header {
  background-color: v.$color-primary;
  padding: 12px 24px 30px;
  display: flex;
  flex-direction: column;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .items {
      a {
        display: none;
      }
    }
  }

  @include m.breakpoint-md {
    nav {
      width: 100%;
      margin-bottom: 12px;

      .items {
        display: flex;
        justify-content: space-between;
        color: v.$color-white;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.25;

        a + a {
          margin-left: 32px;
        }

        a {
          display: block;
          color: v.$color-white;
          border-bottom: solid 3px v.$color-primary;

          &:hover {
            border-bottom: solid 3px v.$color-secondary;
          }
        }

        > svg {
          display: none;
        }
      }
    }
  }

  @include m.breakpoint-lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 80px;

    nav {
      margin-bottom: 0;

      .items {
        margin: 0 auto;
      }
    }
  }
}
