@use "../../styles/vars" as v;
@use '../../styles/mixins' as m;

.header {
  background-color: v.$color-primary;

  .container {
    margin: 0 auto;
    padding: 12px 24px 30px;
    display: flex;
    flex-direction: column;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      .items {
        a {
          display: none;
        }

        svg {
          cursor: pointer;
          position: relative;
          z-index: 101;
          transform-origin: center;
          transition: all 0.5s ease;

          &:first-child {
            position: fixed;
            right: 24px;
            top: 28px;
          }
        }

        .hideIcon {
          opacity: 0;
          transform: rotate(-90deg) scale(0);

          &:first-child {
            transform: rotate(90deg) scale(0);
          }
        }
      }
    }
  }
}

.fullMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: v.$color-primary;
  overflow: hidden;
  z-index: 100;
  padding: 28px 24px 0 15vw;
  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0, 0, 0.02, 0.95);

  > ul {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 600;
    color: v.$color-white;
    padding-top: 40px;

    > li {
      width: 270px;
      margin-top: 16px;
      line-height: 1.8;
      border-bottom: 4px solid transparent;
      position: relative;

      > ul {
        display: none;
        margin-top: 24px;
        padding-left: 24px;

        li {
          font-weight: 500;
          font-size: 17px;
          margin-top: 5px;

          .divider {
            height: 1px;
            background-color: v.$color-white;
            margin: 20px 0;
          }

          &:hover {
            color: v.$color-secondary;
          }
        }
      }

      button {
        position: relative;
        cursor: pointer;
        text-align: left;
        font-weight: inherit;
        font-size: inherit;
        width: 100%;
        outline: none;

        > svg {
          fill: v.$color-white;
          position: absolute;
          right: 0;
        }
      }

      &:hover {
        border-bottom: 4px solid v.$color-secondary;
      }

      &.open {
        ul {
          display: block;
        }
        border-bottom: 4px solid transparent;

        &::after {
          content: " ";
          width: 100%;
          height: 4px;
          position: absolute;
          top: 36px;
          left: 0;
          background-color: v.$color-secondary;
        }
      }

      &:nth-last-child(2) {
        margin-top: 35px;
      }
    }

    a {
      width: 100%;
      display: inline-block;
    }
  }

  &.show {
    transform: none;
  }
}

@include m.breakpoint-md {
  .header {
    .container {
      nav {
        width: 100%;
        margin-bottom: 12px;

        .items {
          padding-top: 3px;
          display: flex;
          justify-content: space-between;
          color: v.$color-white;
          font-size: 20px;
          font-weight: 600;
          line-height: 1.25;

          a + a {
            margin-left: 32px;
          }

          a {
            display: block;
            color: v.$color-white;
            border-bottom: solid 3px v.$color-primary;

            &:hover,
            &.active {
              border-bottom: solid 3px v.$color-secondary;
            }
          }

          > svg {
            display: none;
          }
        }
      }
    }
  }

  .fullMenu {
    display: none;
  }
}

@include m.breakpoint-lg {
  .header {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 17px 80px;
      max-width: 1440px;

      nav {
        margin-bottom: 0;

        .items {
          margin: 0 auto;
        }
      }
    }
  }
}
