@use '../../styles/vars' as v;
@use '../../styles/mixins' as m;

.footer {
  color: v.$color-white;
  background-color: v.$color-primary;
  padding: 24px;
  font-weight: bold;

  p {
    line-height: 2.1em;
  }

  .contact {
    p:first-child {
      margin-bottom: 0.5em;
    }
  }

  .supporter {
    margin-top: 54px;
  }

  @include m.breakpoint-sm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    .supporter {
      display: flex;
      margin-top: 0;

      p {
        margin-right: 1em;
      }
    }
  }

  @include m.breakpoint-lg {
    padding: 24px 80px;
  }
}
