@use "../../styles/vars" as v;
@use "../../styles/mixins" as m;

.search {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 100%;

  input {
    width: 100%;
    padding: 1em;
    border: none;
    outline: none;
  }

  button {
    background-color: v.$color-secondary;
    color: v.$color-white;
    border: none;
    outline: none;
    font-size: 1.25rem;
    padding: 0.6em 1.2em;
    font-weight: bold;
  }

  @include m.breakpoint-sm {
    max-width: 390px;
  }
}
